<!doctype html>
{% load static %}
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="app">
    <div><a href="/services">services</a>
        <a href="/users">users</a></div>
    <div class="header">Добрый день!</div>
    <div class="content">{% block content %}{% endblock %}</div>
</body>
</html>